.flex {
  font-size: 24px;
  text-align: center;
  display: contents;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login_box {
  width: 320px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.titulos{
  background: yellow; /* Fondo amarillo */
  color: #000; /* Texto en negro */
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

